In [8]:
!wget https://www.spataru.at/students/course_files/stdm/international_matches.csv

--2022-11-21 11:38:41--  https://www.spataru.at/students/course_files/stdm/international_matches.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3148074 (3.0M) [text/csv]
Saving to: ‚Äòinternational_matches.csv‚Äô

international_match 100%[===================>]   3.00M  3.25MB/s    in 0.9s

2022-11-21 11:38:42 (3.25 MB/s) - ‚Äòinternational_matches.csv‚Äô saved [3148074/3148074]

#FIFA World Cup 2022 ‚öΩÔ∏èüèÜ
International soccer matches and team strengths (1993-2022)


This dataset provides a complete overview of all international soccer matches played since the 90s. On top of that, the strength of each team is provided by incorporating actual FIFA rankings as well as player strengths based on the EA Sport FIFA video game.


Some suggestions

¬∑ Can you predict what team is most likely to win the 2022 FIFA World Cup?

¬∑ What team has the strongest defense, midfield, and offense players?

¬∑ Is there really such a thing as a home team advantage?

¬∑ Do teams with stronger offense players score more goals? And do teams with stronger goalkeepers receive fewer goals?

¬∑ What team has the longest winning streak?

¬∑ Does the best team always win?

 Can you explain why a weaker team sometimes win?

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("international_matches.csv")

In [11]:
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN